:root {
  --sz: 100%;
  --vw: 100vw;
  --svh: 100svh;
  --x: 6rem;
  --y: 10rem;
  --gap: .5rem;
  --pd: 1.25rem;
  --btn-sz: 3rem;
  --fnt-sz: clamp(calc(var(--pd) * 1.125), calc(1.06rem + 0.33vw), 1.31rem);
  --main-color: hsl(145 33% 89%);
  --secondary-color: hsl(16 42% 90%);
  --main-fnt: "Smooch Sans", sans-serif;
  --secondary-fnt: "Quicksand", sans-serif;
}

*,
*::before,
*::after { box-sizing: border-box; }

/* reset */
:where(html, body, figure, button, h2, p) {
  margin: 0;
  padding: 0
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer
}

a {
  color: hsl(175 85% 65%);
  font-weight: 600;
}

img {
  max-width: var(--sz);
  height: var(--sz);
  object-fit: cover;
}

/* flexbox */
.flex {
  display: flex;
  align-items: center;
}

:where(.absolute) { position: absolute; }
:where(.image--container, .image--info, .buttons, .background, .caption, .xl, .sm) { width: var(--sz); }
:where(.buttons, .portrait, .dots) { z-index: 3; }

.image--container {
  position: relative;
  height: var(--svh);
  overflow: hidden;
}

.buttons {
  justify-content: space-evenly;
  max-width: 20rem;
  bottom: 4%;
  @media (width <= 26.5625em) { & { max-width: 10rem } }
  .btn {
    justify-content: center;
    padding: 0;
    font-size: calc(var(--fnt-sz) * 1.025);
    color: var(--main-color);
    transition: transform 200ms ease;
    &:hover { transform: scale(1.125); }
    &:active { transform: scale(.98); }
    &[data-state='prev']{
      opacity: 0;
      pointer-events: none
    }
  }
}

.image--info {
  position: absolute;
  transition: transform 400ms cubic-bezier(.982, .92, .92, .982);
  &.active { z-index: 2 }
  .background {
    justify-content: center;
    .xl--image {
      height: var(--svh);
      background: center / cover, no-repeat;
      filter: blur(.5rem);
    }
  }
  .caption {
    bottom: calc(var(--btn-sz) * 2.125);
    &:has(h2, p) { padding-inline-start: 1rem; }
    &:has(.info, .description) { color: var(--secondary-color) }
    .heading {
      color: var(--main-color);
      font: 300 clamp(calc(var(--pd) * 1.125), 5vmin, calc(var(--pd) * 1.5)) var(--main-fnt);
      & span {
        --y: calc(45pt * .35);
        display: inline-block;
        font-family: var(--main-fnt);
        letter-spacing: .5pt;
        transform: translateY(var(--y));
        opacity: 0;
        transition: opacity 200ms ease-in, transform 300ms ease 200ms;
        &.fade {
          opacity: 1;
          transform: translateY(0);
          transition: opacity 400ms ease-in-out, transform 200ms cubic-bezier(.75, -.156, .0154, .75) 100ms;
        }
      }
    }
    .description {
      margin-block-start: .75rem;
      margin-inline-end: 1.5rem;
      font: 300 clamp(calc(var(--pd) * .45), 3vmin, calc(var(--pd) * .87)) var(--secondary-fnt);
      transform: translateY(1rem);
      &.fade--up { 
        transition: opacity 200ms cubic-bezier(0.075, 0.82, 0.165, 1), transform 300ms;
        animation: smooth-up 300ms cubic-bezier(0.215, 0.610, 0.355, 1) 100ms forwards
      }
    }
    .info {
      margin-block-start: .5rem;
      font: 600 .85rem var(--secondary-fnt);
      transform: translateY(2rem);
      @media (width <= 26.5625em) { & { font-size: calc(var(--pd) * .4) } }
      &.fade--bottom__up { 
        transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 500ms;
        animation: smooth-bottom-up 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 200ms forwards
      }
    }
    & :where(.description, .info) { opacity: 0; }
  }
}

@keyframes smooth-up {
  to {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 1s;
  }
}

@keyframes smooth-bottom-up {
  to {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 1.5s;
  }  
}

.portrait {
  justify-content: flex-start;
  width: var(--sz);
  max-width: calc(var(--x) * 5);
  height: calc(var(--y) * 1.25);
  right: 5%;
  bottom: calc(var(--btn-sz) * 5);
  gap: calc(var(--gap) * 1.05);
  .sm--image {
    height: inherit;
    flex: 0.15;
    background: center / cover, no-repeat;
    border-radius: 1rem;
    filter: blur(.15rem);
    transition: flex 300ms ease-in-out 100ms, filter 200ms ease;
    &.active {
      flex: 5;
      filter: blur(0);
      box-shadow: .125vmin .125vmin 7pt rgba(255, 255, 255, .5) inset, -.125vmin -.125vmin 7pt rgba(0, 0, 0, .7), .125vmin .125vmin 7pt rgba(0, 0, 0, .5);
    }
  }

  @media (width <= 40.3125em) { & { max-width: calc(var(--x) * 4.5) } }
  @media (width <= 35.25em) { & { max-width: calc(var(--x) * 4) } }
  @media (width <= 23.4375em) { & { max-width: calc(var(--x) * 3) } }
}

.dots {
  justify-content: space-around;
  flex-direction: column;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  .dot {
    display: block;
    width: var(--gap);
    height: var(--gap);
    background-color: hsla(147, 33%, 86%, 0.5);
    border-radius: var(--gap);
    margin: .2rem 0;
    cursor: pointer;
    transition: height 300ms cubic-bezier(.390, .575, .575, -1.001);
    &.active {
      height: var(--pd);
      border-radius: var(--gap);
      background-color: var(--main-color);
    }
  }
  @media (width <=26.5625em) {
    & {
      justify-content: space-around;
      flex-direction: row;
      width: 8ch;
      height: 2ch;
      position: relative;
      left: 50%;
      bottom: 2.75rem;
      transform: translateX(100%);
      .dot {
        margin: 0;
        &.active { 
          width: var(--pd);
          height: var(--gap)
        }
      }
    }
  }
}